*{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: inherit;
    font-family: "Open Sans", serif;
}

body{
    background-color: #414141f1;
}

header{
    margin-top: 15px;
}

.nav_bar{
    background-color:#393939;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    height: 100px;
    min-height: 100px;
    margin-bottom: 50px;
}

.div_logo{
    padding-left: 30px;
}

.logo{
    margin-bottom: 5px;
    width: 45px;
    
}

.menu_itens{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu_itens li{
    padding: 10px;
    margin-right: 10px;
}

.menu_itens li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    transition: color .3s ease;
}

.menu_itens li a:hover{
    color: #c2c1c1;
}

.mobile-btn{
    font-size: 1.4em;
    background-color: #393939;
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    display: none;
    cursor: pointer;
}

#mobile_menu{
    display: none;
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    width: 86%;
    background-color: #393939;
    border-top: 1px solid #717171;
    border-radius: 15px;
    padding: 20px 0px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}


@media(max-width:1170px){
    .nav_bar{
        border-radius: 15px 15px 0px 0px;
        width: 90%;
    }
    .menu_itens{
        display: none;
    }
    #mobile-btn{
        display: block;
        border: none;
        background-color: #393939;
        font-size: 1.3em;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0px 0px 15px 15px;
        align-items: center;
    }
    #mobile_menu_itens{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #393939;
        margin-right: 60px;
        font-size: 1.2em;
        gap: 20px;
    }
    #mobile_menu_itens li a {
        color: white;
    }


}

/*Main*/

.card_principal{
    width: 100%;
}

.home{
    height:370px ;
    width: 80%;
    background-color: #393939;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    border-radius: 15px;
    flex-direction: column;
}

.home p {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 1.5em;
    color: white;
}

.home h1{
    display: flex;
    color: #C439A5;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 2.5em;
}

.home button{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        color: white;
        background: linear-gradient(135deg, #C439A5, #a42fb3fb);
        transition: background 0.3s ease;
        cursor: pointer;
}

.home button:hover {
    background: linear-gradient(135deg, #a42fb3, #8d248b);
}




.div_icons{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon_github{
    background-color: white;    
    margin-left: 30px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 100%;
    transition: background-color .5s ease;
}

.icon_github:hover{
    background-color: #c2c1c1;
}

.icon_github img{
    width: 18px;
    height: 18px;
}

.icon_linkedin{
    background-color: white;
    margin-left: 10px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 100%;
    transition: background-color .5s ease;
}

.icon_linkedin:hover{
    background-color: #c2c1c1;
}


.icon_linkedin img{
    width: 18px;
    height: 18px;
}


/*Media Query main*/
@media(max-width:768px){
    .home{
        width: 90%;
        height: auto;
    }
    .home p{
        font-size: 1.3em;
    }
    .home h1{
        font-size: 1.4em;
    }
    .div_icons{
        margin-bottom: 10%;
    }
}

@media(max-width:1024px){
    .home{
        width: 90%;
        height: auto;
    }
    .div_icons{
        margin-bottom: 10%;
    }
}

/*Fim Media Query main*/



/*Minha descrição */

.div_desc{
    width: 100%;
    margin-top: 50px;
}

.sobre{
    height: 470px ;
    width: 80%;
    background-color: #393939;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    border-radius: 15px;
    flex-direction: column;
    
}

.p_desc{
    color: white;
    font-size: 1.3em;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.h1_desc{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2em
}

.p_desc_principal{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    flex-direction: column;
    padding-right: 200px;
    font-size: 1.5;
    font-weight: 400;
    line-height: 1.8em;
}

.blob{
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute;
    left: 1210px;
}

/*Media query da minha descrição*/
@media(max-width:768px){
    .sobre{
        width: 90%;
        height: auto;
    }
    .p_desc_principal{
        justify-content: center;
        margin-left: 0px;
        padding: 10%;
    }
    .h1_desc{
        font-size: 1.5em;
    }
}

@media(max-width:1024px){
    .sobre{
        width: 90%;
        height: auto;
    }
}
    

/*Fim Media query da minha descrição*/



/*Skills*/

.div_skills{
    height: 430px ;
    width: 80%;
    background-color: #393939;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius:15px;
    flex-direction: column;
    margin-top: 50px;
}


.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.p_skills h1{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0px;
}

.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}



.fa-brands{
    padding: 20px;
    font-size: 4em;
}

.img_icons{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.skill-item span {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: 800;
}

/*Media Query skills*/
@media(max-width:768px){
    .div_skills{
        width: 90%;
        height: auto;
        padding-bottom: 10%;
    }
}

@media(max-width:1024px){
    .div_skills{
        width: 90%;
    }
}

/*Fim Media Query skills*/



/*Portfólio*/
.projetos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.projetos_1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.port_p{
  color: white;
  font-size: 2em;  
  font-weight: 600;
  margin-left: 150px;
  margin-bottom: 18px;
}

.img_project{
    width: 50%;
    margin-left: 100px;
}

.img_project img{
    width: 100%;
    height: auto;
    max-width: 650px;
    border-radius: 20px 0px 0px 20px;
}

.project_text{
    background-color: #393939;
    width: 50%;
    height: 315px;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 5px;
    margin-left: -48px;
    margin-right: 90px;
}

.project_text h1{
    color: white;
    padding-left: 20px;
    margin-bottom: 8px;
}

.project_text p{
    color: white;
    font-size: 1.1em;
    font-weight: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    margin-top: 8px;
}

.project_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.i_icons{
    font-size: 1.8em;
    padding: 5px;
    
}



.node_i{
    padding-left: 0px;
    margin-right: 20px;
}

.icons_Project img.i_icons {
    height: 55px;
    width: auto;
    vertical-align: bottom;
    padding: 0px;
}


.project_links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.ver_projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    transition: background-color 0.5s ease;
    cursor: pointer;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
}

.ver_projeto:hover{
    background-color: #c2c1c1;
}

.ver_projeto_rep{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: black;
    transition: background-color 0.5s ease;
    cursor: pointer;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
}

.ver_projeto_rep:hover{
    background-color: #0b0b0b4f;
}

/*Media Query portfólio*/
@media(max-width:768px){
    .projetos{
        flex-direction: column;
    }
    .projetos_1{
        flex-direction: column;
    }
    .img_project{
        width: 100%;
        margin-left: 0px;
        margin-bottom: -2%;
    }
    .img_project img{
        border-radius: 10px 10px 0px 0px;
    }
   .project_text{
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 5% 0px;
    height: auto;
    border-radius: 0px 0px 10px 10px ;
   }
   .project_text h1{
    font-size: 1.3em;
   }
   .icons_Project img.i_icons{
    height: 35px;
   }
   .i_icons{
    font-size: 1.2em;
   }
   .port_p{
    margin: 40px 0px 20px 0px ;
    text-align: center;
   }
   
}

@media(max-width:1024px){
    .projetos{
        flex-direction: column;
        align-items: stretch;
    }
    .projetos_1{
        flex-direction: column;
        align-items: stretch;
    }
    .img_project{
        width: 100%;
        height: auto;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img_project img{
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0px 0px;
    }
    .project_text{
        height: auto;
        width: 81%;
        margin: auto;
        border-radius: 0px 0px 10px 10px ;
    }
    .i_icons{
        font-size: 1.2em;
    }
    .icons_Project img.i_icons{
        height: 35px;
     }
     .port_p{
        text-align: center;
        margin: 40px 0px 20px 0px;

     }
}
/*Fim Media Query portfólio*/


.div_footer{
    height: 350px;
    width: 90%;
    background-color: #393939;
    margin: auto;
    border-radius:15px;
    flex-direction: column;
    margin-top: 50px;
}

.title_footer h1{
    color: white;
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    padding-top:30px;
}

.itens_contato{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itens_contato i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 30px;
    color: white;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    color: white;
    background: linear-gradient(135deg, #C439A5, #a42fb3fb);
    transition: background 0.3s ease;
    cursor: pointer;
}

.itens_footer{
    color: white;
    font-size: 1.3em;
    margin-left: 20px;
    margin-bottom: 20px;
}



.icon_github_footer{
    background-color: white;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    transition: background-color .5s ease;
}

.icon_github_footer:hover{
    background-color: #c2c1c1;
}

.icon_github_footer img{
    width: 23px;
    height: 23px;
}

.icon_linkedin_footer{
    background-color: white;
    margin-left: 10px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    transition: background-color .5s ease;
}

.icon_linkedin_footer:hover{
    background-color: #c2c1c1;
}


.icon_linkedin_footer img{
    width: 23px;
    height: 23px;
}

.links_footer_footer{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
}

.icon_github_footer, .icon_linkedin_footer {
    position: relative;
    bottom: 40px;
}








